@media(max-width:1000px){

}

@media(max-width:670px){
  p,a{
    font-size:14px;
    line-height:30px;
  }

  .menu{
    justify-content: space-around;
  }
  
  .menu-item{
    font-size:14px;
  }

  .face-photo{
    width:180px;
  }
  
  .profile-text{
    width:75%;
  }

}
